/* :: 7.0 Header CSS */

.header-area {
  position: fixed;
  z-index: 600;
  width: 100%;
  left: 0;
  top: 0;
  @include transition-duration(500ms);

  .main-header-area.sticky {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: $white;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    left: 0;
    z-index: 650;
    border-bottom-color: transparent;
  }
}